<div id=wrapper>
    <p>Press the buttons to initiate the memory allocation test</p>
    <input type="text" [(ngModel)]="arraySize" placeholder="Enter amount of rows"/>
    <button mat-raised-button color="primary" (click)="randomArray(arraySize)">generate array</button>
    <button mat-raised-button color="accent" (click)="startTest()">Start test</button>
    <button mat-raised-button color="warn" (click)="clearArrays()">Reset all</button>
    <ul id=oldArray>
      <li *ngFor="let index of oldArray">
        {{ index }}
      </li>
    </ul>
    <ul id=newArray>
      test completed: {{ done }}
    </ul>
</div>
